Repository RedHatInsights/red-hat-ansible-automation-platform-documentation, pull requests merged in 2022-08, with the labels that each got.

#435 Update latest OpenShift version to 4.10
  downstream/attributes/attributes.adoc
Labels: attributes

#437 2.2 Update latest OpenShift version to 4.10 (#435)
  downstream/attributes/attributes.adoc
Labels: 2.2, attributes

#418 AAP-2514 Created chapter documenting SSO configuration steps.
  downstream/assemblies/platform/assembly-using-rhsso-operator-with-automation-hub.adoc
  downstream/modules/platform/proc-create-a-user.adoc
  downstream/modules/platform/proc-create-keycloak-client.adoc
  downstream/modules/platform/proc-create-keycloak-instance.adoc
  downstream/modules/platform/proc-create-keycloak-realm.adoc
  downstream/modules/platform/proc-creating-a-secret.adoc
  downstream/modules/platform/proc-determine-hub-route.adoc
  downstream/modules/platform/proc-installing-hub-using-operator.adoc
  downstream/modules/platform/proc-installing-the-ansible-platform-operator.adoc
  downstream/modules/platform/proc-update-rhsso-client.adoc
  downstream/titles/aap-operator-installation/master.adoc
Labels: Automation Hub, Needs backport to 2.1, Needs backport to 2.2, Ready for peer review

#439 AAP-4999 Add attribute for RHSSO
  downstream/attributes/attributes.adoc
Labels: Needs backport to 2.1, Needs backport to 2.2, Ready for peer review, attributes

#446 2.1 AAP-4999 Add attribute for RHSSO (#439)
  downstream/attributes/attributes.adoc
Labels: attributes

#445 2.2 AAP-4999 Add attribute for RHSSO (#439)
  downstream/attributes/attributes.adoc
Labels: attributes

#443 Update versions to AAP 2.2 and OCP 4.8
  downstream/modules/platform/ref-operator-ocp-version.adoc
Labels: 2.2, Needs backport to 2.2, Peer review complete

#450 AAP-4728 Value of automationhub_pg_host changed
  downstream/modules/platform/ref-example-platform-ext-database-inventory.adoc
  downstream/modules/platform/ref-platform-non-inst-database-inventory.adoc
Labels: Ready for peer review

#451 [2.2] Add bin folder with sync scripts
  bin/sync_docs.sh
  bin/sync_ocp_latest.sh
Labels: 2.2, Ready for peer review

#454 [2.2] AAP-4728 Value of automationhub_pg_host changed (#450)
  downstream/modules/platform/ref-example-platform-ext-database-inventory.adoc
  downstream/modules/platform/ref-platform-non-inst-database-inventory.adoc
Labels: 2.2

#453 [2.1] AAP-4728 Value of automationhub_pg_host changed (#450)
  downstream/modules/platform/ref-example-platform-ext-database-inventory.adoc
  downstream/modules/platform/ref-platform-non-inst-database-inventory.adoc
Labels: 2.1

#456 [2.1] Add bin folder with sync scripts
  bin/sync_cloud_docs.sh
  bin/sync_docs.sh
  bin/sync_ocp_latest.sh
Labels: 2.1

#455 [2.2] Add bin folder with cloud content sync script
  bin/sync_cloud_docs.sh
Labels: 2.2

#462 AAP-5095 fix YAML field formatting in table
  downstream/modules/platform/proc-create-keycloak-realm.adoc
Labels: 2.2, Needs backport to 2.2, Ready for peer review

#465 2.2 AAP-5095 Fix YAML field formatting in table (#462)
  downstream/modules/platform/proc-create-keycloak-realm.adoc
Labels: 2.2

#471 AAP-5260 Add virtual appliance routing info
  downstream/modules/aap-on-azure/proc-azure-update-route-tables.adoc
Labels: Needs backport to 2.1, Ansible on Clouds, Ansible on Azure, Needs backport to 2.2, Ready for peer review

#469 AAP-4802: Add Installer Inventory Variable and note
  downstream/modules/platform/ref-access-control-requirements.adoc
Labels: 2.1, 2.2, Needs backport to 2.1, Needs backport to 2.2, Peer review complete

#474 AAP-4802: Add Installer Inventory Variable and note (#469)
  downstream/modules/platform/ref-access-control-requirements.adoc
Labels: 2.2, Backported to 2.2, Ready for peer review

#475 AAP-5260 Update virtual appliance firewall content
  downstream/modules/aap-on-azure/proc-azure-update-route-tables.adoc
Labels: Needs backport to 2.1, Ansible on Clouds, Ansible on Azure, Needs backport to 2.2, Ready for peer review

#477 2.2 AAP-5260 Add virtual appliance routing info
  downstream/modules/aap-on-azure/proc-azure-update-route-tables.adoc
Labels: Ansible on Clouds, Ansible on Azure

#476 2.1 AAP-5260 Add virtual appliance routing info
  downstream/modules/aap-on-azure/proc-azure-update-route-tables.adoc
Labels: Ansible on Clouds, Ansible on Azure

#478 AAP-5310 Add attribute for Ansible Galaxy
  downstream/attributes/attributes.adoc
Labels: Needs backport to 2.1, Needs backport to 2.2, attributes

#481 2.1 AAP-5310 Add attribute for Ansible Galaxy (#478)
  downstream/attributes/attributes.adoc
Labels: attributes

#482 2.2 AAP-5310 Add attribute for Ansible Galaxy (#478)
  downstream/attributes/attributes.adoc
Labels: attributes

#484 2.2 AAP-5311 Update latest OCP version to 4.11 (#479)
  downstream/attributes/attributes.adoc
Labels: attributes

#487 AAP-4844 Swapped file labels.
  downstream/modules/platform/proc-import-mesh-ca.adoc
Labels: Needs backport to 2.2, Ready for peer review

#498 AAP-5346 Added AKS node pool resource group info
  downstream/modules/aap-on-azure/con-aap-azure-architecture.adoc
Labels: Needs backport to 2.1, Ansible on Clouds, Ansible on Azure, Needs backport to 2.2

#500 2.1 AAP-5346 Added AKS node pool resource group info (#498)
  downstream/modules/aap-on-azure/con-aap-azure-architecture.adoc
Labels: Ansible on Clouds, Ansible on Azure

#501 2.2 AAP-5346 Added AKS node pool resource group info (#498)
  downstream/modules/aap-on-azure/con-aap-azure-architecture.adoc
Labels: Ansible on Clouds, Ansible on Azure

#496 AAP-5366 Corrected spelling error
  downstream/assemblies/platform/assembly-multi-machine-cluster-scenario.adoc
  downstream/assemblies/platform/assembly-planning-installation.adoc
Labels: Needs backport to 2.1, Needs backport to 2.2, Ready for peer review

#499 AAP-3713: New installable RPM
  downstream/assemblies/platform/assembly-planning-installation.adoc
  downstream/modules/platform/proc-choosing-obtaining-installer.adoc
Labels: 2.2, Needs backport to 2.2, Ready for peer review

#505 AAP-5465 User-configurable CIDR blocks in AAP on Azure
  downstream/modules/aap-on-azure/con-aap-azure-network.adoc
  downstream/modules/aap-on-azure/con-aap-private-access.adoc
  downstream/modules/aap-on-azure/con-aap-public-access.adoc
  downstream/modules/aap-on-azure/proc-azure-nw-private-deploy-az-hosted-vm.adoc
  downstream/modules/aap-on-azure/proc-azure-nw-private-deploy-vpn.adoc
  downstream/modules/aap-on-azure/proc-azure-nw-private-deploy.adoc
  downstream/modules/aap-on-azure/proc-azure-provisioning-aap.adoc
  downstream/modules/aap-on-azure/proc-peer-vwan-hub-to-aap.adoc
Labels: Needs backport to 2.1, Ansible on Clouds, Ansible on Azure, Needs backport to 2.2, Ready for peer review

#506 AAP-5465 User-configurable CIDR blocks in AAP on Azure (#505)
  downstream/modules/aap-on-azure/con-aap-azure-network.adoc
  downstream/modules/aap-on-azure/con-aap-private-access.adoc
  downstream/modules/aap-on-azure/con-aap-public-access.adoc
  downstream/modules/aap-on-azure/proc-azure-nw-private-deploy-az-hosted-vm.adoc
  downstream/modules/aap-on-azure/proc-azure-nw-private-deploy-vpn.adoc
  downstream/modules/aap-on-azure/proc-azure-nw-private-deploy.adoc
  downstream/modules/aap-on-azure/proc-azure-provisioning-aap.adoc
  downstream/modules/aap-on-azure/proc-peer-vwan-hub-to-aap.adoc
Labels: Ansible on Clouds, Ansible on Azure
